body{
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}
*{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    margin: 0px;
    padding: 0px;
}
ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
a{
    text-decoration: none;
    text-decoration: none !important;
}
section{
    overflow: hidden;
}
h1{
    font-weight: 900;
    font-size: 32px;
    color: #111;
    text-transform: uppercase;   
}
h2{
    font-size: 25px;
    font-weight: 900px;
} 
h3{
    font-size: 20px;
    font-weight: 700;
    color: #666666;
}
h6{
 
    font-size: 14px;
    font-weight: 400;
    color: #666666;   
}
/****************************Banner*************************/
.banner{
    background: url("/assets/images/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: table;
}
.overlay{
    background: rgba(0,0,0,0.77);
    display: table-cell;
}
.banner .caption{
   position: relative;
    z-index: 100; 
    font-family: 'Raleway', sans-serif;
}

.banner h1{
color: #fff;
 text-transform: uppercase;
 font-size: 32px;
 font-weight: 900;
 letter-spacing:0.2px;
}
.banner h2{
    color: #ccc;
    font-size: 27px;
    margin-left: 13%;
}
.banner span{
    color: #ccc;
    display: inline-block;
}
.btn{
    border-radius: 0px !important;
}
.banner .btn-primary, .btn-basic{
   font-size: 17px;
   padding:7px 20px;
   text-transform: uppercase;
}
.banner .btn-primary{
    background: #03C4EB;
    margin-right: 15px;
}
.btn-basic, .banner .btn-primary:hover{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}
.btn-basic:hover{
    background: #03C4EB;
}
.carousel{
position: absolute !important;
top: 50%;
left: 50%;
transform: translate(30%, -79%);
}
.title{
    margin-left: -15%;
    position: relative;
    padding: 10px;
}
.carousel-inner{
    animation-iteration-count: infinite;
}
@media(max-width:526px){
    .banner .btn{
     display: block;
    margin-left: auto;
    margin-right: auto;
    }
}
.caption.text-center.pt-5 {
    margin-top: 10%;
}
/****************************Navbar*************************/
.navbar .navbar-brand img{
    max-height: 50px;
}
.bg-dark{
    background: #000 !important;
}
.navbar .navbar-nav .nav-item .nav-link{
    color: #fff !important;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    padding-left: 5px;
    margin-right: 25px;
}
.navbar .navbar-nav .nav-item:first-child .nav-link, .navbar .navbar-nav .nav-item:hover .nav-link{
    color: #03C4EB !important;
}
.navbar-toggler{
    background-color: #fff;
}
/******************************End of navbar***************************/
/*****************************About Us*************************/
.aboutUs{
padding: 50px 0px;
}
.divider{
    background: #03C4EB;
    width: 50px;
    height: 3px;
}
.aboutUs .about-image{
    background: url("/assets/images/about-img.jpg");
    background-size: cover;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: 80px 5px;
}
p{
    font-size: 15px;
    line-height: 29px;
}
@media(max-width:992px){
    .aboutUs .about-image{
        display: none;
    } 
}
/***********************Services***************/
.services{
    padding: 80px 0;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("/assets/images/services-bg.jpg") fixed ;
    background-size: cover;
}
.services .icon{
    /* display: inline-block; */
    background: #03C4EB;
    padding: 10px 18px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
}
.services .service-info{
margin-left: 50px;
margin-top: -55px;
}
.services .icon:hover{
background: transparent;
border: 1px solid #03C4EB;
color: #03C4EB;
transition: .5s;
cursor: pointer;
}
.services h4{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.services p{
    padding-top: 10px;
    color-interpolation-filters: #666666;
}
/****************End of Services***************/
/***************Subscribe*****************/
.subscribe{
    background: url("/assets/images/subscribe-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
    background-attachment: fixed;
    background-position: 4% 10%;
    display: table;
}
.background-overlay{
    background: rgba(0,0,0,0.6);
    display: table-cell;
}
.subscribe-background{
    margin-top: 90px;
}
.subscribe h3{
    color: #fff;
    font-weight: 700;
    font-size: 22px;
}
.subscribe .join{
    color: #fff;
}
/**************End Of Subscribe**************/
/**************Portfolio****************/
.portfolio{
    padding: 50px 0;
}
.portfolio img{
    width: 100%;
    height: 250px;
    display: block;
    padding-bottom: 20px;
}
.portfolio .padding{
    padding: 0px !important;
}
.portfolio-caption{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.5);
    opacity: 0;
    transition: 1s;
}
.portfolio .portfolio-gallery{
    overflow: hidden !important;
    position: relative;
}
.portfolio-gallery:hover .portfolio-caption{
    opacity: 1;
    cursor: pointer;
}
.portfolio h4{
    font-size: 15px;
    transition: 1s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.portfolio-gallery:hover h4{
top: 130px;
}
.portfolio-gallery:hover h6{
    top: 150px;   
}
.portfolio h6{
font-size: 14px;
transition: 1s;
position: absolute;
top: 65%;
left: 50%;
transform: translate(-50%,-50%);
}
/***************End of portfolio*********/
/**************Testimonial***************/
.testimonials{
    background: #f6f6f6;
    padding: 50px 0;
}
.testimonials .team-testimonial{
    border-radius: 50%;
    width: 249px;
    height: 249px;
    border: 6px solid #fff;
    overflow: hidden;
}
.testimonials .team-testimonial img{
    max-width: 100%;
}
.team-quotes{
    background:#fff;
    padding: 17px 33px;
    border-radius: 6px;
}
@media(max-width:1200px){
    .team-quotes {
        margin-left: 50px;
    }
}
@media(max-width:992px){
    .team-quotes {
        padding: 17px 0px;
        margin-left: 92px;
        font-size: 13px;
    }
}
.team-member h4{
    font-size: 18px;
    font-weight: 700;
    color: #03C4EB;
    padding-top: 10px;
}
.team-member h5{
    font-size: 15px;
    padding-top: 5px;
}
blockquote{
    padding: 22px;
}
/*********End of Testimonial*************/
/**************Team*********************/
.team{
    padding: 80px 0;
}
.team img{
    width: 100%;
    height: 100%;
    display: block;
}
.social-icon a{
    padding: 3px;
    font-size: 20px;
    color: #ccc;
}
.social-icon a:hover{
    color: #03C4EB;
}

/***********End of Team*************/
/**********Contact Us***************/
.contact{
    background: #f6f6f6;
    padding: 50px 0;
}
.contact .icon{
    display: inline-block;
    font-size: 27px;
    padding: 8px;
    font-family: "Open Sans", sans-serif;
}
.contact .icon p{
    font-size: 16px;
    margin-top: -41px;
    padding-left: 45px;
}
.contact .icon i{
    color: #03C4EB;
}
.btn-primary{
    background-color: #03C4EB;
    font-size: 15px;
    border: 0;
    padding: 10px 15px;
}
button[type="submit"]:hover {
    background:#25d8fc;
}
/**********End Of Contact Us***********/
/***************Footer****************/
.bg-dark{
    background: #111 !important;
}
.footer-caption{
    padding: 25px 0px 10px 0px;
    color: #fff;
}
.footer-caption h6{
    color: #fff;
    padding-bottom: 6px;
}
.footer-caption p{
    font-size: 13px;
}
.footer-caption .bootstrapmade{
    color: #03C4EB;
    font-size: 12px;
}